
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/AnaSayfa.cshtml";
}



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/cssler.css" rel="stylesheet" />
<script src="~/Scripts/homescript.js"></script>
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">*@


<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container"><br /><br /><br />
    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <i class="fa fa-smile fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="178" data-speed="1500"></h2>
                <p class="count-text "><strong>178</strong> Kullanıcı</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-code fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="142" data-speed="1500"></h2>
                <p class="count-text "><strong>7</strong> Günde Bir Güncelleme</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-desktop fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="350" data-speed="1500"></h2>
                <p class="count-text "><strong>324</strong> Client</p>
            </div>
        </div>

    </div>


    <script>


    </script>

    <div class="row" style="height:auto">

        <div class="container">
            <div class="row">
                <div class="col-lg-12"><br /><br /><br />
                    <h3 class="text-center">İzleme Sisteminin Kurulumu</h3>
                    <p style="text-align:center">
                       Bu uygulama Sayesinde , Kurulum Yaptığınız Bilgisayarlardaki Servis Ve Uygulamaların Ram,Cpu,ONN/OFF Durumunu,Açılış ve Kapanış Zamanlarını İzleyebilir,Cmd Komutları Yazabilir,Ekran Görüntüsünü Görebilir,Uygulama ve Servislerinizi Uzaktan Kapatıp Açabilirsiniz.Farklı Bilgisayarları Client Olarak Ekleyip İzleyebilirsiniz.
                    </p></br></br>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Adım 1</h4>
                                    <h4 class="subheading">İndirme İşlemi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                       Programı <a href=""> 32</a>  ve <a href=""> 64</a> bit olarak sisteminize göre buradan indirip kurabilirsiniz.
                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Adım</h4>
                                    <h4 class="subheading">Kurulum Sonrası</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Programın Kurulumu Bittikten Sonra, Üyelik Açıp Siteye ve Programa Erişim Sağlayabilirsiniz.Güncelleme ve Diğer Bilgilendirmeler İçin Bilgilerinizin Doğru Olmasına Özen Gösterin.
                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Adım</h4>
                                    <h4 class="subheading">Ayar İşlemleri</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Programdan Düzenle Kısmına Girerek,Servis ve Uygulamalarınızı Ekleyebilirsiniz.Uygulamalarınızın Kısayollarınıda Eklerseniz,Uzaktan Kapatıp Açma İşlemlerini Sağlayabilirsiniz.Admin Şifrenizi Değişebilir,5 Client Daha Ekleyerek Site Üzerinden Diğer Bilgisayarlara da Erişebilirsiniz!
                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. Adım</h4>
                                    <h4 class="subheading">Programın Çalışması</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Programın Düzenleme Kısmı Bittikten Sonra, Programı Çalıştır Diyerek Site Üzerinden İzleme Yapabilirsiniz.Sadece İzleme Yapmak İsteyen Kullanıcılar İçin ,Kullanıcı ve Şifrenizi Paylaşarak İzleme Yaptırabilirsiniz.Diğer Özelliklere Erişim İçin Admin Şifrenizle Giriş Yapabilirsiniz.
                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ufak Bir Bilgi</h4>
                                    <h4 class="subheading">İnternetsiz Ortam İçin İzleme</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Programın İnternetsiz Ortamlar İçin Sürümü Mevcuttur.Görsellik Olarak İzlemenizi Daha da Kolaylaştırabilir.İndirmek için <a href="">32</a> & <a href="">64</a> Seçebilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><br /><br />
        </div>


     
       
    </div>
    
</div>